<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/style_1.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>Paris Hotel</title>
    </head>

    <body style="background: rgb(242, 242, 242)">
    	<header>
            <div class="header">
                <img src="../static/Images/logoBlack.png" alt="Logo" class="Logo"> 
                <div style="display:flex;position:absolute;right:100px;
    top:10px;padding:20px">
    
                    <div class="Envoi">

                <button class="connexion" id="SignIn"><span>Sign In</span></button>
                
                </div>

                    <div class="Envoi">
                <button class="connexion" id="Register"><span>Register</span></button>
                
                </div>

           
                </div>
	    </div>
    	
    	</header>

    	<section>
            <div class="loader"> </div>
            <img src="../static/Images/bande.png" alt="Logo" class="bande"> 
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Sign in to search for an hotel">
        </div>

    	</section>
        
     
    	
    	

    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
document.getElementById("SignIn").onclick = function () {
        location.href = "{{ url_for('SignIn') }}";
    };

    document.getElementById("Register").onclick = function () {
        location.href = "{{ url_for('Register') }}";
    };

$(window).load(function() {
$(".loader").fadeOut("10000"); });
</script>
</html>