
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/style_1.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>Paris Hotel</title>
    </head>

    <body style="background: rgb(242, 242, 242)">
    	<header>
            <div class="header">
                <img src="../static/Images/logoBlack.png" alt="Logo" class="Logo"> 
                <div style="display:flex;position:absolute;right:100px;
    top:10px;padding:20px">
                
                    <div class="Profil"><img src="../static/Images/profil.png" alt="Logo" class="LogoDisconnect"> </div>
                    <div class="Envoi">
                
                
                </div>

           
                </div>
                 <div class="Profil"><img src="../static/Images/profil.png" alt="Logo" class="LogoDisconnect" style="margin-right:30px">   
                    <ul id="menu-demo2" style="margin-top: 10px;">
                        <li><a href="#">Menu</a>
                            <ul>
                                <li><a href="{{ url_for('form') }}">Form</a></li>
                                <li><a href="{{ url_for('like_search') }}">Hotels you could like</a></li>
                                <li><a href="{{ url_for('filtrage') }}">Similar profiles choices</a></li>
                                <li><a href="{{ url_for('index') }}">Disconect</a></li>
                                
                            </ul>
                        </li>
                 </div>
	    </div>
    	
    	</header>
        
        <section style="margin-top:220px;margin-left:100px;display:flex;">
            <div style="margin-right:100px">
                <h1 style="font-family:futura;font-size:2em;">Our recommendation for {{ hotel }} :</h1>
                <div style="display: flex;">
                    <ul style="font-family:futura;font-size:1.5em">
                        <li style="font-size: 1.1em;margin-bottom: 40px;">Hotel :</li>
                        {% for key,value in recommendation %}
                            <li>{{ key }}</li>
                            
                        {% endfor %}
                    </ul>
                    <ul style="font-family:futura;font-size:1.5em;list-style-type: none;">
                        <li style="font-size: 1.1em;margin-bottom: 40px;">Matching :</li>
                        {% for key,value in recommendation %}
                            <li>{{ value }} %</li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
            <div style="background: #c8c2c2;padding:20px;">
            <div style="display:flex">
                <img src="../static/Images/info.png" alt="Logo" class="LogoDisconnect"> 
                <h1 style="font-family: futura;font-size: 1.5em;margin-left:30px">How our predictions are made ?</h1>
            </div>
                <p style="font-family: futura;width: 400px;font-size: 1.4em;">Our algorithm is based on a similarity search. In fact, it compares each hotel precisely to find the one that best suits you. This comparison uses a list of 20 criteria and characteristics that have been specifically chosen by our team. So don't wait any longer and book your dream...</p>
                <p style="font-family: futura;width: 400px;font-size: 1.4em;">For a total transparency we decided to indicate to you how close a hotel is to your request by displaying you the percentage of similarity of the various hotels  </p>

            </div>
        </section>
        
    	
    	

    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
$(window).load(function() {
$(".loader").fadeOut("10000"); });
</script>
</html>