
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/style_1.css">   
        <link rel="icon" type="image/png" sizes="32x32" href="../static/Images/favicon-32x32.png">
        <title>Paris Hotel</title>
    </head>

    <body style="background: rgb(242, 242, 242)">
    	<header>
            <div class="header">
                <img src="../static/Images/logoBlack.png" alt="Logo" class="Logo"> 
                <div style="display:flex;position:absolute;right:100px;
    top:10px;padding:20px">
                
                    <div class="Profil"><img src="../static/Images/profil.png" alt="Logo" class="LogoDisconnect"> </div>
                    <div class="Envoi">
                
                
                </div>

           
                </div>
                 <div class="Profil"><img src="../static/Images/profil.png" alt="Logo" class="LogoDisconnect" style="margin-right:30px">   
                    <ul id="menu-demo2" style="margin-top: 10px;">
                        <li><a href="#">Menu</a>
                            <ul>
                                <li><a href="{{ url_for('form') }}">Form</a></li>
                                <li><a href="{{ url_for('like_search') }}">Hotels you could like</a></li>
                                <li><a href="{{ url_for('filtrage') }}">Similar profiles choices</a></li>
                                <li><a href="{{ url_for('index') }}">Disconect</a></li>
                                
                            </ul>
                        </li>
                 </div>
	    </div>
    	
    	</header>
        <section style="margin-top:270px;margin-left:150px;display:flex;">
            <div style="display: flex;">
                <div style="margin-right:100px">
                    <p style="font-family: Futura;color:black;font-size:1.9em;">Hi, {{ user }} </p>
                    <p style="font-family: Futura;color:black;font-size:1.4em;margin-top:-20px"> Here are the last hotels you visited : </p>
                    <div style="margin-right:100px">
                            <ul style="font-family:futura;font-size:1.1em">
                                {% for i in choice %}
                                    <li>{{ i[0] }}</li>
                                {% endfor %}
                                </ul>
                        </div>
                </div>
                <div style="background: #c8c2c2;padding:20px;">
                        <div style="display:flex">
                            <h1 style="font-family: futura;font-size: 1.5em;margin-left:30px">Similar users, based on your last choices, has also liked this :</h1>
                        </div>
                        <div style="margin-right:100px;display: flex">
                            <div>
                                <ul style="font-family:futura;font-size:1.1em">
                                    {% for i in recommendation %}
                                        <li>{{ i }}</li>
                                    {% endfor %}
                                    </ul>
                            </div>
                            
                            <div>
                                  <p style="font-family: futura;width: 200px;font-size: 1em;text-align: justify;margin-left:100px">Our algorithm is based on a similarity search. Indeed it compares hundreds of profiles like yours that have already tried the hotels to find the one that best suits you. So don't wait any longer and book your dream...</p>
                            </div>
                        </div>
                </div>
            </div>
        </section>
        
    	
    	

    </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
$(window).load(function() {
$(".loader").fadeOut("10000"); });
</script>
</html>