@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

@font-face {
   
   font-family: 'Futura';
    src: url('../Font/Futura.otf') ;   
}



.Logo
{
	max-width: 70%;
	height: 160px;
	position: absolute;
	left:60px;
	top:0px;
      
	
	
}

.connexion1
{
    color: white;
    padding:10px;
    width: 180px;
    background-color:black;
    border-radius: 12px;
    font-family: Futura;
    font-size:1em;
    text-decoration: none;
    margin-left:-5px;
    height:45px;

    
    
  transition: all 0.5s;
  cursor: pointer;
  
	
}


.connexion1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.connexion1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.connexion1:hover span {
  padding-right: 25px;
}

.connexion1:hover span:after {
  opacity: 1;
  right: 0;
}



.connexion2
{
    color: white;
    padding:10px;
    width: 200px;
    background-color:black;
    border-radius: 12px;
    font-family: Futura;
    font-size:1em;
    text-decoration: none;
    margin-left:-5px;
    height:45px;

    
    
  transition: all 0.5s;
  cursor: pointer;
  
	
}


.connexion2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.connexion2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.connexion2:hover span {
  padding-right: 25px;
}

.connexion2:hover span:after {
  opacity: 1;
  right: 0;
}
input[type="text"],input[type="password"],textarea{
  width: 30%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  outline: none;
  height: 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;   
}

.txt1
{
    color:white;
    font-family: Baron Neue Black;
    font-size: 1em;
    margin-left: 30px;
    margin-top:10px;
   
}
.Profil 
{       
        display:flex;
   
        position: absolute;
	right: 200px;
	top: 83px;
	color: white;
        font-family: Futura;
}
.LogoDisconnect
{
    max-width: 100%;
    height: 45px;
   
}

.bande
{
   max-width: 100%;
	height: 410px;
	margin-left:60px;
	margin-top:200px;
        box-shadow: 10px 10px 20px;
	
	
}
.connexion
{
    color: white;
    padding:5px;
    width: 120px;
    background-color:black;
    border-radius: 12px;
    font-family: Futura;
    font-size:1em;
    text-decoration: none;
    margin-left:-5px;
    height:45px;
    box-shadow: 10px 10px 20px;
    
    
  transition: all 0.5s;
  cursor: pointer;
  
	
}

.connexion span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.connexion span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.connexion:hover span {
  padding-right: 25px;
}

.connexion:hover span:after {
  opacity: 1;
  right: 0;
}

a:visited
{

    text-decoration: none;
}


.Divider
{
   background-color: black;
   width: 300px;
   height:3px;
   margin-left:600px;
   margin-top :50px;
}

.H1
{
    color:black;
    font-family: Futura;
    font-size: 2.5em;
    margin-left: 40px;
    
}

.H2
{
    color:black;
    font-family: Futura;
    font-size: 1.2em;
    margin-left: 40px;
    margin-top:-20px;
}

.H2_1
{
    color:black;
    font-family: Futura;
    font-size: 1.2em;
    margin-left: 40px;
    margin-top:0px;
}


/*Form*/
.Info1
{
    font-family: futura;
    margin-left: 150px;
    margin-top:10px;
    display: flex;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}


form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  /* Accessible outline */
  /* Remove comment to use */
  /*
  	&:focus-within {
  			outline: .125em solid $primary-color;
  	}
  */
}
label input {
  position: absolute;
  left: -9999px;
}
label input:checked + span {
  background-color: gainsboro;
}
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em black;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
label span:hover {
  background-color: gainsboro;
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em black;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.button {
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  width:23%;
  padding:10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  width:140px;
  padding:10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.Envoi
{
    margin-top:40px;
    margin-left:20px
}




/* Page Signin */
.loginbox{
    width: 350px;
    height: 460px;
    background: rgb(77, 77, 77);
    border-radius: 10px;
    color: #fff;
    top: 53%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;  
    padding: 60px 30px;
    font-family: Futura;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);   
}

.auth
{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin-bottom: 0px;
    margin-top: 10px;
    padding:0;
    font-weight: bold;
    text-align: left;
}

.loginbox input{
    margin-top: 10px;
    margin-bottom: 10px;
}
select
{
    background:black;
    color:white;
    font-size:16px;
    width:100%;
    margin-top:10px;
    margin-bottom: 10px;
}
.loginbox input[type="radio"]{
    margin-left: 60px;
    margin-bottom: 0;
    
}

.loginbox input[type="text"], input[type="password"]{
    width: 100%;
    border: none;

    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;   
}

.loginbox input[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    width: 100%;
    cursor: pointer;
    background: #4161E5;
    color: #fff;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color: #4161E5;
}

#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:0px 0px 0px 0px;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0px 0px 8px 8px;
}


#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:nth-child(2){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menu-demo2 li:nth-child(3){
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu-demo2 li:last-child{
background-color: #000000;
background-image:-webkit-linear-gradient(top, #000000 0%, #000000 100%);
background-image:linear-gradient(to bottom, #000000 0%, #000000 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#2A2333;
}
#menu-demo2 li:nth-child(2) li{
background:#333A40;
}
#menu-demo2 li:nth-child(3) li{
background:#9F391A;
}
#menu-demo2 li:last-child li{
background:#000000;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#65537A;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#729EBF;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#F6AD1A;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#ffffff;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 70px;
color:#fff;
font-family:arial;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}

#rangeValue {
  font-size: 1.2em;
  color: #999;
  font-weight: 400;
  font-family: futura;
}
.range {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #656565;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px #656565;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #656565;
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: -407px 0 0 400px rgba(0, 0, 0, 1);
}
